### íŒë‹¤ìŠ¤(Pandas)
- ë°ì´í„° ì²˜ë¦¬ ë¼ì´ë¸ŒëŸ¬ë¦¬ ì¤‘ ê°€ì¥ ì¸ê¸°ìˆëŠ” ë¼ì´ë¸ŒëŸ¬ë¦¬ì´ë‹¤.
- 2ì°¨ì› ë°ì´í„°(í…Œì´ë¸”, ì—‘ì…€, CSV ë“±)ë¥¼ íš¨ìœ¨ì ìœ¼ë¡œ ê°€ê³µ ë° ì²˜ë¦¬í•  ìˆ˜ ìˆë‹¤.
ğŸ“Œ ëŒ€ë¶€ë¶„ì˜ Datasetì€ ì¸ê°„ì´ ê°€ì¥ ì´í•´í•˜ê¸° ì‰¬ìš´ êµ¬ì¡°ì¸ 2ì°¨ì›(í–‰, ì—´)ì´ë‹¤.

### íŒë‹¤ìŠ¤ êµ¬ì„± ìš”ì†Œ
- DataFrame : í–‰ê³¼ ì—´ë¡œ êµ¬ì„±ëœ 2ì°¨ì› Datasetì„ ì˜ë¯¸í•œë‹¤.
- Series : 1ê°œì˜ ì—´ë¡œë§Œ êµ¬ì„±ëœ 1ì°¨ì› Datasetì„ ì˜ë¯¸í•œë‹¤.
- Index : DataFrameê³¼ Seriesì—ì„œ ì¤‘ë³µì—†ëŠ” í–‰ ë²ˆí˜¸ë¥¼ ì˜ë¯¸í•œë‹¤.

In [2]:
import pandas as pd
pd.__version__

'2.0.3'

### read_csv()
- .csv íŒŒì¼ì„ DataFrameìœ¼ë¡œ ì½ì–´ì˜¨ë‹¤.
### display(_)
- í…ìŠ¤íŠ¸ ë°ì´í„°ë¥¼ ë” ë³´ê¸° ì¢‹ê²Œ

In [6]:
happiness_df = pd.read_csv('./datasets/happiness_report_2022.csv')
happiness_df

         country  score               income
0        Finland  7.821          High income
1        Denmark  7.636          High income
2        Iceland  7.557          High income
3    Switzerland  7.512          High income
4    Netherlands  7.415          High income
..           ...    ...                  ...
141     Botswana  3.471  Upper middle income
142       Rwanda  3.268           Low income
143     Zimbabwe  2.995  Lower middle income
144      Lebanon  2.955  Lower middle income
145  Afghanistan  2.404           Low income

[146 rows x 3 columns]

### head()
- ì „ì²´ ë°ì´í„° ì¤‘ ì•ë¶€ë¶„ ì¼ë¶€ë¥¼ ê°€ì ¸ì˜¨ë‹¤.
### tail()
- ì „ì²´ ë°ì´í„° ì¤‘ ë’·ë¶€ë¶„ ì¼ë¶€ë¥¼ ê°€ì ¸ì˜¨ë‹¤.

In [8]:
display(happiness_df.head(10))
display(happiness_df.tail(10))

       country  score       income
0      Finland  7.821  High income
1      Denmark  7.636  High income
2      Iceland  7.557  High income
3  Switzerland  7.512  High income
4  Netherlands  7.415  High income
5   Luxembourg  7.404  High income
6       Sweden  7.384  High income
7       Norway  7.365  High income
8       Israel  7.364  High income
9  New Zealand  7.200  High income

          country  score               income
136        Zambia  3.760           Low income
137        Malawi  3.750           Low income
138      Tanzania  3.702  Lower middle income
139  Sierra Leone  3.574           Low income
140       Lesotho  3.512  Lower middle income
141      Botswana  3.471  Upper middle income
142        Rwanda  3.268           Low income
143      Zimbabwe  2.995  Lower middle income
144       Lebanon  2.955  Lower middle income
145   Afghanistan  2.404           Low income

In [15]:
# ì›í•˜ëŠ” ì»¬ëŸ¼ë§Œ ê°€ì ¸ì˜¤ê¸°

# 1ì°¨ì›ìœ¼ë¡œ ì ‘ê·¼í•˜ë©´ Series íƒ€ì…ì´ë‹¤.
display(happiness_df["country"])

0          Finland
1          Denmark
2          Iceland
3      Switzerland
4      Netherlands
          ...
141       Botswana
142         Rwanda
143       Zimbabwe
144        Lebanon
145    Afghanistan
Name: country, Length: 146, dtype: object

### shape
- DataFrameì˜ í–‰(Row)ê³¼ ì—´(Column) í¬ê¸°ë¥¼ ê°€ì§€ê³  ìˆëŠ” ì†ì„±ì´ë‹¤.
- indexëŠ” ì—´ ê°œìˆ˜ì— í¬í•¨í•˜ì§€ ì•ŠëŠ”ë‹¤.

In [18]:
print(happiness_df.shape)

(146, 3)

### DataFrame()
- dictë¥¼ DataFrameìœ¼ë¡œ ë³€í™˜í•  ë•Œ ì‚¬ìš©í•œë‹¤.
- ì»¬ëŸ¼ëª…ì„ ì¶”ê°€í•˜ê±°ë‚˜ ì¸ë±ìŠ¤ëª…ì„ ë³€ê²½í•˜ëŠ”