### DataFrame Task

In [12]:
# 아래의 dict를 DataFrame으로 변환한다.
# 전체 가격을 20%씩 인상한다.
import pandas as pd
fruit = {
    "Name": ["사과", "딸기", "감", "참외"],
    "Price": [2000, 8000, 13000, 6000]
}


df = pd.DataFrame(fruit)

df['Price'] = df['Price'] * 1.2

display(df)

  Name    Price
0   사과   2400.0
1   딸기   9600.0
2    감  15600.0
3   참외   7200.0