### DataFrame Task

In [11]:
import pandas as pd

# 아래의 dict를 DataFrame으로 변환한다.
# 전체 가격을 20%씩 인상한다.

fruit = {
    "Name": ["사과", "딸기", "감", "참외"],
    "Price": [2000, 8000, 13000, 6000]
}

fruit_df = pd.DataFrame(fruit)
fruit_df["Price"] = fruit_df[["Price"]] * 1.2
fruit_df["Price"] = fruit_df["Price"].astype('int32')

display(fruit_df)

  Name  Price
0   사과   2400
1   딸기   9600
2    감  15600
3   참외   7200